@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/*=====================
  General
======================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  font-size: 2.2rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

/*=====================
  Navigation Bar
======================*/
.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  padding: 40px 0;
}

.nav-btn {
  background-color: white;
  color: #00252e;
  font-size: 0.9rem;
  text-align: center;
  padding: 10px 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.nav-btn:hover {
  color: #808d99;
}

/*=====================
  Header
======================*/
.header {
  background: url("../images/bg-hero-desktop.svg");
  background-color: #ebfbff;
  padding: 0 80px;
  padding-bottom: 40px;
}

.header-paragrapgh {
  margin-bottom: 50px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info-container {
  width: 50%;
  margin-right: 60px;
}

.header-image-container {
  width: 80%;
}

.header-image {
  width: 100%;
}

.header-btn {
  background-color: #ff52bf;
  padding: 15px 60px;
  border-radius: 30px;
  color: white;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.header-btn:hover {
  opacity: 0.7;
}

/*=====================
  Cards
======================*/
.cards {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  margin: 120px 0;
}

.card {
  -ms-grid-column: 2;
      grid-column-start: 2;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  padding: 50px 80px 50px 80px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-card .image-col img {
  float: right;
  width: 80%;
}

.second-card .image-col img {
  float: left;
  width: 80%;
}

.third-card .image-col img {
  float: right;
  width: 80%;
}

.info-col {
  width: 100%;
}

.info-col p {
  font-size: 0.9rem;
  color: #808d99;
}

/*=====================
  Floating Box Container
======================*/
.floating-box {
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  padding: 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: white;
  right: 25%;
  left: 25%;
  top: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 50%;
  color: #00252e;
}

.floating-box-btn {
  color: white;
  background-color: #ff52bf;
  padding: 15px 50px;
  border-radius: 50px;
}

.floating-box-btn:hover {
  opacity: 0.7;
  text-decoration: none;
}

/*=====================
  Footer
======================*/
footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 2fr 2fr 2fr 1fr;
      grid-template-columns: 1fr 4fr 2fr 2fr 2fr 1fr;
  -ms-grid-rows: 0.5fr 1fr 0.25fr;
      grid-template-rows: 0.5fr 1fr 0.25fr;
  position: relative;
  background-color: #00252e;
  color: #ebfbff;
  font-size: 0.8rem;
}

footer a {
  color: #ebfbff;
  margin-bottom: 30px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-first-col {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-small {
  -webkit-mask: url("../images/logo.svg");
          mask: url("../images/logo.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: white;
  background-repeat: no-repeat;
  height: 50px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.contact-container .fas {
  margin-right: 20px;
}

.footer-second-col {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
}

.footer-third-col {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fab {
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid white;
  margin-right: 10px;
}

.fab:hover {
  color: #ff52bf;
  border: 1px solid #ff52bf;
}

.fa-facebook-f {
  padding: 5px 8px;
}

.fa-twitter {
  padding: 5px 6px;
}

.fa-instagram {
  padding: 5px 6px;
}

.copyright-container {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  font-size: .5rem;
}

/*=====================
  Attribution
======================*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*================================================================
                                 Media
==================================================================*/
@media only screen and (max-width: 1024px) {
  /*=====================
  General
======================*/
  h1 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  /*=====================
  Navigation Bar
======================*/
  .logo {
    -webkit-transform: scale(0.6) translate(-20%);
            transform: scale(0.6) translate(-20%);
  }
  .nav-btn {
    font-size: 0.7rem;
    padding: 10px 30px;
  }
  /*=====================
  Header
======================*/
  .header {
    background: url("../images/bg-hero-mobile.svg");
    padding: 0 20px;
    text-align: center;
  }
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-info-container {
    width: 90%;
    margin-right: 0px;
  }
  .header-image {
    margin-top: 100px;
  }
  /*=====================
  Cards
======================*/
  .card {
    padding: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .first-card .image-col {
    margin: 40px 0;
  }
  .first-card .image-col img {
    float: none;
  }
  .second-card .image-col {
    margin: 40px 0;
  }
  .second-card .image-col img {
    float: none;
  }
  .third-card .image-col {
    margin: 40px 0;
  }
  .third-card .image-col img {
    float: none;
  }
  /*=====================
  Floating Box Container
======================*/
  .floating-box {
    right: 5%;
    left: 5%;
    top: 0;
    width: 90%;
  }
  /*=====================
  Footer
======================*/
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer a {
    color: #ebfbff;
  }
  .footer-first-col {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    padding-left: 40px;
  }
  .footer-second-col {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .footer-third-col {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 5;
        grid-row-start: 5;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright-container {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 6;
        grid-row-start: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  /*=====================
  Attribution
======================*/
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: #3e52a3;
  }
}
/*# sourceMappingURL=style.css.map */